<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../mstp_111_angulr/vendor/angular/angular.js"></script>
</head>
<body>
<input type="text" ng-model="myModel">
{{1+1}}
<div>{{myModel}}</div>
</body>
</html>