<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../mstp_111_angulr/vendor/angular/angular.js"></script>
</head>
<body>
<input type="text" ng-model="someProp">
<input type="text" ng-readonly="someProp" value="some text">

<input type="checkbox" ng-model="isTwoFish">
<select >
    <option>aaa</option>
    <option ng-selected="isTwoFish">isTwoFish</option>
</select>


<div ng-controller="parentController as pc">
    <div>{{someModel.someBareValue}}</div>
    <button ng-click="parentClick()">parentClick</button>
    <div ng-controller="childController as cc">
        <div>{{pc.someModel.someBareValue}}</div>
        <button ng-click="childClick()">childClick</button>
    </div>
</div>

<input type="text" ng-model="name">
<div ng-switch="name">
    <p ng-switch-default>the winner is </p>
    <p ng-switch-when="Ari">{{name}}</p>
</div>

<div ng-controller="selectController">
    <select  ng-model="city" ng-options="city.name for city in cities">
        <option value="">Choose City</option>
    </select>

    <div>BestCity: {{city.name}}</div>
</div>


<script type="text/javascript">

    angular.module('myApp', []).controller('parentController', function($scope){
        $scope.someModel = {
            someBareValue:"hello parentController"
        };
        $scope.parentClick = function(){
            $scope.someModel.someBareValue = 'hello changes from parentController'
        }
    }).controller('childController', function($scope){
        $scope.childClick = function(){
            $scope.someModel.someBareValue = 'hello changes from childController'
        }
    }).controller('selectController', function($scope){
        $scope.cities = [{name:"NewYork"}, {name:"Beijing"}, {name:"London"}]
    });

//    angular.module('myApp', []).controller('parentController', function($scope){
//        $scope.someModel = {
//                someBareValue:"hello parentController"
//        };
//        $scope.parentClick = function(){
//            $scope.someModel.someBareValue = 'hello changes from parentController'
//        }
//    }).controller('childController', function($scope){
//        $scope.childClick = function(){
//            $scope.someModel.someBareValue = 'hello changes from childController'
//        }
//    });
//    angular.module('myApp', []).controller('parentController', function($scope){
//        $scope.someBareValue = "hello parentController";
//        $scope.parentClick = function(){
//            $scope.someBareValue = 'hello changes from parentController'
//        }
//    }).controller('childController', function($scope){
//        $scope.childClick = function(){
//            $scope.someBareValue = 'hello changes from childController'
//        }
//    });
</script>
</body>
</html>